<section class="flex-col">
  <div class="flex flex-wrap">
    <div class="w-full sm:w-1/2">
      <h1 class="text-2xl font-bold">Televisions</h1>
    </div>

    <div class="w-full sm:w-1/2 text-right">
      <%= link_to new_television_path, class: 'btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' do %>
        Add New Television
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap mt-20">
    <div class="w-full sm:w-1/6 text-sm">
      <h6 class="font-semibold">Year</h6>
      <% @televisions.aggs["year"]["buckets"].sort_by{ |b| b["key"] }.reverse.each do |bucket| %>
        <div>
          <% if params[:year] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:year), class: 'text-blue-500' %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(year: bucket["key"]), class: 'text-gray-700 hover:text-blue-500' %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

      <br/>

      <h6 class="font-semibold">Brand</h6>
      <% @televisions.aggs["brand"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket| %>
        <div>
          <% if params[:brand] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:brand), class: 'text-blue-500' %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(brand: bucket["key"]), class: 'text-gray-700 hover:text-blue-500' %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

      <br/>

      <h6 class="font-semibold">Size</h6>
      <% @televisions.aggs["size"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket| %>
        <div>
          <% if params[:size] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:size), class: 'text-blue-500' %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(size: bucket["key"]), class: 'text-gray-700 hover:text-blue-500' %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

      <br/>

      <h6 class="font-semibold">Display</h6>
      <% @televisions.aggs["display"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket| %>
        <div>
          <% if params[:display] == bucket["key"].to_s %>
            <strong><%= link_to bucket["key"], request.params.except(:display), class: 'text-blue-500' %></strong>
          <% else %>
            <%= link_to bucket["key"], request.params.merge(display: bucket["key"]), class: 'text-gray-700 hover:text-blue-500' %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

      <br/>

      <h6 class="font-semibold">Price</h6>
      <% @televisions.aggs["price"]["buckets"].sort_by{ |b| b.fetch("from", 0) }.each do |bucket| %>
        <div>
          <% if params[:price_from] == bucket["from"].to_s && params[:price_to] == bucket["to"].to_s %>
            <strong><%= link_to price_range_name(bucket), request.params.except(:price), class: 'text-blue-500' %></strong>
          <% else %>
            <%= link_to price_range_name(bucket), request.params.merge(price_from: bucket["from"], price_to: bucket["to"]), class: 'text-gray-700 hover:text-blue-500' %>
          <% end %>
          (<%= bucket["doc_count"] %>)
        </div>
      <% end %>

      <%= form_with method: :get, local: true, html: { class: "flex flex-wrap mt-4" } do |form| %>
        <div class="w-full sm:w-1/2 mb-2">
          <%= form.number_field :price_from, value: params[:price_from], placeholder: "$Min", class: "form-control w-full" %>
        </div>
        <div class="w-full sm:w-1/2 mb-2">
          <%= form.number_field :price_to, value: params[:price_to], placeholder: "$Max", class: "form-control w-full" %>
        </div>
        <div class="w-full">
          <%= form.button "Go", class: "btn btn-secondary bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
    </div>

    <div class="w-full sm:w-5/6">
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
          <thead>
            <tr>
              <th class="px-4 py-2 border-b">Name</th>
              <th class="px-4 py-2 border-b">Brand</th>
              <th class="px-4 py-2 border-b">Display</th>
              <th class="px-4 py-2 border-b">Price</th>
              <th class="px-4 py-2 border-b">Size</th>
              <th class="px-4 py-2 border-b">Year</th>
            </tr>
          </thead>

          <tbody>
            <% @televisions.each do |television| %>
              <%= content_tag :tr, id: dom_id(television), class: "hover:bg-gray-100" do %>
                <td class="px-4 py-2 border-b"><%= link_to television.name, television, class: 'text-blue-500 hover:underline' %></td>
                <td class="px-4 py-2 border-b"><%= television.brand %></td>
                <td class="px-4 py-2 border-b"><%= television.display %></td>
                <td class="px-4 py-2 border-b"><%= television.price %></td>
                <td class="px-4 py-2 border-b"><%= television.size %></td>
                <td class="px-4 py-2 border-b"><%= television.year %></td>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>